/**************start reset style*****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

@font-face {
  font-family: 'iranyekan';
  src: url("../fonts/Yekan.ttf") format("woff");
}

a {
  text-decoration: none !important;
  color: #4d4d4d;
  font-family: 'iranyekan';
}

a:hover {
  color: #4d4d4d;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  direction: rtl;
  font-family: 'iranyekan';
  text-align: right;
  color: #4d4d4d;
  background-color: #fff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i {
  vertical-align: middle;
}

/**************end reset style*****************/
/*****************/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 121px;
  /*****start header top****/
  /********* end user-login *****/
}

@media screen and (min-width: 1200px) {
  .header .container-fluid {
    width: 1200px;
  }
}

.header .header-top {
  background-color: transparent;
  z-index: 15;
  padding-top: 4px;
  /********* start user-login *****/
}

.header .header-top .header-logo {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 7px;
  border-bottom: 1px solid #000;
  width: 200px;
  text-align: center;
}

.header .header-top .header-logo a {
  display: inline-block;
}

.header .header-top .header-logo a img {
  width: 45px;
}

.header .header-top .header-icon a {
  display: inline-block;
  padding-left: 23px;
  color: #000;
}

.header .header-top .header-icon a i {
  font-size: 19px;
  font-weight: 300;
  vertical-align: middle;
}

.header .header-top .user-login .dropdown {
  text-align: right;
}

.header .header-top .user-login .dropdown button {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.header .header-top .user-login .dropdown button:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.header .header-top .user-login .dropdown .dropdown-menu {
  text-align: right;
}

.header .header-top .user-login .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 9px 14px;
}

.header .header-top .user-login .dropdown .dropdown-menu .dropdown-item:active {
  background-color: #333;
  color: #fff;
}

.header .header-top .user-login .dropdown .dropdown-menu.show {
  right: 10px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.header form {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header form input[type=text] {
  color: #ccc;
  padding: 7px 29px 7px 7px;
  font-size: 14px;
  border: none;
  height: 38px;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid #333;
}

.header form input[type=text]:focus {
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header form button {
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  top: 9px;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  margin: auto 0;
  color: #333;
}

/*****end header top****/
/******start header bottom****/
.header-bottom {
  padding: 12px 0 0;
  background: transparent;
  z-index: 10;
  right: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
  text-align: center;
  /******************start menu style***************/
  /******************end menu style***************/
}

.header-bottom .menu-page ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.header-bottom .menu-page ul li a {
  display: inline-block;
  color: #000;
  padding: 11px 20px 15px 20px;
  position: relative;
}

.header-bottom .menu-page ul li a .small-icon {
  position: absolute;
  top: 35px;
  right: 42%;
  width: 9px;
  height: 8px;
  background-color: #fff;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  opacity: 0;
  font-size: 12px;
}

.header-bottom .menu-page ul li .menu-body {
  position: absolute;
  background: #fff;
  width: 100vw;
  height: 480px;
  top: 117px;
  right: 0;
  left: 0;
  display: none;
  text-align: center;
  margin: auto 0;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 8px #ececec;
          box-shadow: 0 3px 8px #ececec;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .two-level-col {
  display: inline-block;
  width: 160px;
  text-align: right;
  height: 568px;
  overflow: hidden;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .two-level-col span a {
  line-height: 1.5;
  display: block;
  padding: 6px 0 6px 6px;
  color: #818181;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .two-level-col span:hover a {
  color: #333;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend {
  display: inline-block;
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  inset: 0;
  margin: 6px auto auto 0;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: right;
  padding-right: 10px;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend h4 a {
  padding: 11px 5px 15px 20px;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels {
  border-right: 1px solid #eee;
  padding-right: 10px;
  height: 59%;
  padding-top: 8px;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels .list-articel-item {
  display: inline-block;
  text-align: right;
  margin: 20px 0;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels .list-articel-item h5 {
  height: 50px;
  overflow: hidden;
  text-align: right;
  font-size: 16px;
  line-height: 1.60;
  font-weight: 500;
  color: #4d4d4d;
  text-align: right;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels .list-articel-item span {
  color: #818181;
  display: inline-block;
  margin-top: 8px;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels .list-articel-item:hover h5 {
  color: #000;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels a {
  display: block;
  padding: 0;
  color: #333;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels a img {
  width: 150px;
  z-index: 2;
}

.header-bottom .menu-page ul li .menu-body .menu-body-in .articel-menu-recommend .articels a i {
  font-size: 10px;
  color: #333;
  font-weight: 600;
  vertical-align: middle;
  margin-right: 6px;
}

.header-bottom .menu-page .first-ul .item-row-one:hover .menu-body {
  display: block;
}

/******end header bottom****/
.header .header-bottom .menu-page .item-row-icon:hover .small-icon {
  opacity: 1;
  top: 37px;
  right: 43%;
  z-index: 1;
}

.divider {
  color: #000;
  padding-top: 12px;
}

/**********end header style*************/
/****************** start header responsive*************************/
.header-section-responsive {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 8px #ececec;
          box-shadow: 0 2px 8px #ececec;
}

.header-section-responsive img {
  width: 40px;
  vertical-align: middle;
}

.header-section-responsive .header-right-responsive {
  margin-top: 10px;
}

.header-section-responsive .header-left-responsive {
  margin-top: 11px;
}

.header-section-responsive .header-right-responsive .menu-icon {
  display: inline-block;
}

.header-right-responsive button i {
  color: #4d4d4d;
}

.header-section-responsive .header-right-responsive .search i {
  font-size: 19px;
}

.header-section-responsive .header-right-responsive .menu-icon i {
  margin-left: 17px;
  color: #4d4d4d;
  font-size: 25px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.header-left-responsive a:hover i {
  color: #f53e4f !important;
}

.header-left-responsive a {
  vertical-align: middle;
}

.header-left-responsive a:hover {
  text-decoration: none;
}

.header-left-responsive i {
  padding-left: 40px;
  color: #4d4d4d;
  font-size: 25px;
  font-weight: 400;
  vertical-align: middle;
}

.header-section-responsive .header-ersponsive-top {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.header-section-responsive .header-responsive-bottom {
  padding: 10px 0;
}

.header-section-responsive .header-responsive-bottom form {
  border: 1px solid #eee;
  width: 97%;
  margin: 0 auto;
  height: 38px;
  border-radius: 15px;
}

.header-section-responsive .header-responsive-bottom form input[type=email] {
  width: 81%;
  border: 0;
  font-size: 13px;
}

.header-section-responsive .header-responsive-bottom form input[type=email]:focus {
  outline: 0;
}

.header-section-responsive .header-responsive-bottom button {
  background: transparent;
  border: 0;
  margin-top: 7px !important;
  width: 11%;
  margin-left: -23px !important;
}

/**************end header responsive**************/
.header-menu-active {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0;
  z-index: 500;
  height: 63px;
  overflow: hidden;
  width: 100% !important;
  -webkit-box-shadow: 0 3px 8px #ececec !important;
          box-shadow: 0 3px 8px #ececec !important;
  z-index: 100;
  background-color: #fff;
}

.header-menu-active-2 {
  height: 121px;
  overflow: visible;
}

/****************** start blog-content ***********/
#blog-content {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  #blog-content {
    margin-top: 0;
  }
}

@media screen and (min-width: 1300px) {
  #blog-content .container-fluid {
    width: 1300px;
  }
}

/****************** end blog-content ***********/
/****************start footer***********/
footer {
  margin-top: 60px;
  border-top: 1px solid #eee;
  padding: 50px 0 0;
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1200px) {
  footer .container-fluid {
    width: 1200px;
  }
}

footer img {
  width: 75px;
}

footer h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0;
}

footer .footer-col-one {
  font-size: 17px;
}

footer .footer-col-one h4 {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  line-height: 1.65;
}

footer .footer-col-one span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
  line-height: 1.5;
}

footer .footer-col-one .title-description {
  color: #818181;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 500;
  color: #818181;
  line-height: 1.5;
  width: 60px;
}

footer .footer-col-two a {
  display: block;
  font-size: 16px;
  padding: 6px 0;
  font-weight: 500;
  color: #818181;
  line-height: 1.5;
}

footer .footer-col-two a:hover {
  color: #333;
}

footer .footer-col-three a {
  display: block;
  font-size: 16px;
  padding: 13px 0;
  font-weight: 500;
  color: #818181;
}

footer .footer-col-three a:hover {
  color: #333;
}

footer .footer-col-three span {
  display: block;
  font-size: 16px;
  padding: 13px 0;
  font-weight: 500;
}

footer h2 {
  padding: 23px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.65;
}

footer form {
  border-bottom: 1px solid #eee;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer form input[type=email] {
  color: #ccc;
  padding: 7px 0 7px 7px;
  font-size: 14px;
  border: none;
  height: 38px;
  background-color: transparent;
  width: 100%;
}

footer form input[type=email]:focus {
  outline: 0;
  border-bottom: 2px solid #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer form button {
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  margin: auto 0;
}

footer .social-icon {
  margin-top: 33px;
}

@media screen and (max-width: 992px) {
  footer .social-icon {
    text-align: center;
  }
}

footer .social-icon i {
  font-size: 20px;
  color: #4d4d4d;
  vertical-align: middle;
}

footer .footer-bottom {
  text-align: center;
  border-top: 1px solid #eee;
}

footer .footer-bottom p {
  font-size: 16px;
  padding: 16px;
}

footer .footer-bottom p span {
  font-weight: 600;
  color: #333;
}

/****************end footer*************/
/********************* START MOBILE MENU ******************/
.menu {
  width: 80%;
  background: #fff;
  position: fixed;
  top: 0;
  right: -80%;
  bottom: 0;
  height: 100vh;
  z-index: 300;
  -webkit-transition: .3s;
  transition: .3s;
  border-left: 1px solid #e1e8ef;
  padding-bottom: 100px;
}

.menu-active {
  right: 0;
}

.img-menu-mobile {
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e1e8ef;
}

.img-menu-mobile img {
  max-width: 50%;
}

.in-main-menu {
  position: absolute;
  width: calc(100% * 4);
  min-height: calc(100vh - 221px);
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.in-main-menu-2 {
  right: -100%;
}

.in-main-menu-3 {
  right: -200%;
}

.in-main-menu-4 {
  right: -300%;
}

.main-menu {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.level-one {
  width: calc(25% + 17px);
  overflow: auto;
  overflow-y: scroll;
  float: right;
  height: calc(100vh - 221px);
  position: relative;
  z-index: 101;
}

.item-level-one {
  height: 50px;
  border-bottom: 1px solid #e1e8ef;
  overflow: hidden;
}

.item-level-one a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: calc(100% - 67px);
  float: right;
  padding: 0 15px;
}

.item-level-one a:before {
  content: "\f111";
  font-family: "FontAwesome";
  vertical-align: middle;
  margin-left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ccc;
  font-size: 12px;
}

.item-level-one a:hover:before {
  content: "\f3fe";
  color: #818181;
}

.item-level-one span {
  cursor: pointer;
  display: inline-block;
  color: #818181;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: 50px;
  float: right;
  text-align: center;
  vertical-align: middle;
  font-family: "Ionicons";
  border-right: 1px solid #e1e8ef;
  font-size: 20px;
  background: #fdfdfd;
  -webkit-transition: .3s;
  transition: .3s;
}

.item-level-one span:hover {
  padding-right: 10px;
}

.level-two {
  width: 25%;
  overflow: hidden;
  float: right;
  margin-right: -17px;
  height: 100px;
  min-height: calc(100vh - 221px);
  position: relative;
  z-index: 101;
}

.body-level-two {
  width: calc(100% + 17px);
  overflow: auto;
  overflow-y: scroll;
  min-height: calc(100vh - 221px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  background: #fff;
}

.body-level-two-active {
  z-index: 103;
}

.go-back-menu {
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #e1e8ef;
  overflow: hidden;
  background: #fdfdfd;
}

.go-back-menu a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: calc(100% - 67px);
  float: right;
  padding: 0 15px;
}

.go-back-menu a:before {
  content: "\f111";
  font-family: "FontAwesome";
  vertical-align: middle;
  margin-left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ccc;
  font-size: 12px;
}

.go-back-menu a:hover:before {
  content: "\f3fe";
  color: #333;
}

.go-back-menu span {
  cursor: pointer;
  display: inline-block;
  color: #ff5d5d;
  height: 50px;
  line-height: 50px;
  width: 50px;
  float: right;
  text-align: center;
  vertical-align: middle;
  font-family: "Ionicons";
  border-right: 1px solid #e1e8ef;
  font-size: 17px;
  background: #fdfdfd;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 15px;
}

.go-back-menu span:hover {
  background: #333;
  color: #fff;
}

.level-three {
  width: 25%;
  overflow: hidden;
  float: right;
  min-height: calc(100vh - 221px);
  position: relative;
  z-index: 103;
}

.level-four {
  width: 25%;
  overflow: hidden;
  float: right;
  min-height: calc(100vh - 221px);
  position: relative;
  z-index: 103;
}

.body-level-three {
  width: calc(100% + 17px);
  overflow: auto;
  overflow-y: scroll;
  min-height: calc(100vh - 221px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 104;
  background: #fff;
}

.body-level-three-active {
  z-index: 105;
}

.body-level-four {
  width: calc(100% + 17px);
  overflow: auto;
  overflow-y: scroll;
  min-height: calc(100vh - 221px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: #fff;
}

.body-level-four-active {
  z-index: 112;
}

.header-level-3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #e1e8ef;
  overflow: hidden;
}

.header-level-3 .ionicoroz-0 {
  cursor: pointer;
  display: inline-block;
  color: #818181;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: 50px;
  float: right;
  text-align: center;
  vertical-align: middle;
  font-family: "Ionicons";
  border-left: 1px solid #e1e8ef;
  font-size: 15px;
  background: #fdfdfd;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 16px;
}

.header-level-3 .ionicoroz-1 {
  display: inline-block;
  font-family: "Ionicons";
  -webkit-transition: .3s;
  transition: .3s;
}

.header-level-3:hover .ionicoroz-1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-level-3 p {
  display: inline-block;
  color: #333;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: calc(100% - 67px);
  float: right;
  padding: 0 15px;
}

.filter-option {
  background: #fcfcfc;
  padding: 10px 70px 10px 15px;
  border-bottom: 1px solid #e1e8ef;
  display: none;
  -webkit-transition: none;
  transition: none;
}

.item-filter-option {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #333;
}

.item-filter-option:before {
  content: "\f111";
  font-family: fontawesome;
  vertical-align: middle;
  margin-left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ccc;
  font-size: 12px;
}

.item-filter-option:hover:before {
  content: "\f3fe";
  color: #818181;
}

.item-login {
  display: block;
  height: 50px;
  color: #333 !important;
  line-height: 50px;
  border-bottom: 1px solid #e1e8ef;
  overflow: hidden;
  padding: 0 15px;
  font-weight: 400;
}

.item-level-one i {
  color: #818181;
  font-size: 15px;
  margin-top: 15px;
}

.item-login .fa-user {
  font-size: 18px;
  color: #818181;
  padding-left: 8px;
  font-weight: 400;
}

.item-login .fa-lock {
  font-size: 18px;
  color: #818181;
  padding-left: 8px;
  font-weight: 400;
}

/******************** END MOBILE MENU *******************/
/*# sourceMappingURL=blog-global.css.map */